@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

.flex_center {
    @apply flex justify-center items-center
}

.violet_gradient {
    @apply bg-gradient-to-bl to-[#4916A1] from-[#FF0066]
}

.backdrop {
    @apply absolute h-screen w-full flex flex_center bg-black bg-opacity-50 z-50
}

/* Nav */

.nav {
    @apply flex justify-between items-center  p-3 text-white
}

/* Dashboard */

.dashboard_container {
    @apply h-screen w-screen flex flex-col overflow-y-hidden
}

.dashboard {
    @apply grid grid-cols-2 overflow-scroll
}


/* Modal */

.modal {
    @apply bg-white h-[500px] w-[800px] rounded-xl z-20
}

.modal_header {
    @apply  text-2xl font-bold text-center line-clamp-1 max-w-[600px]
}

/* Forms */

.form{
    @apply flex flex-col w-full h-full items-center space-y-4 pr-8 pl-8
}

.login_form {
    @apply form justify-center h-[500px]
}

.input {
    @apply p-2 border border-black rounded-md text-ellipsis w-2/5 text-lg outline-none
}

.textarea {
    @apply w-[662px] resize-none
}

.form_link {
    @apply  underline underline-offset-2
}

.button {
    @apply w-[300px] h-14 rounded-md  text-white text-xl font-bold text-ellipsis
}

/* Cards */

.card {
    @apply flex pr-1 pl-1 mb-2 rounded-xl cursor-pointer items-center justify-between overflow-hidden h-[100px]
}

.application_card {
    @apply card bg-white
}

.contact_card {
    @apply card bg-indigo-600 text-white
}

.card_content {
    @apply  overflow-hidden w-1/3 text-center
}

.card_buttons {
    @apply w-1/3 flex justify-center space-x-4
}

.card_content_col {
    @apply card_content flex flex-col
}

.card_company {
    @apply  font-bold text-xl w-full text-ellipsis overflow-hidden line-clamp-3
}
